/*******************************************************************************
* ファイル名: base.css
* 内容: 全てのページに共通するスタイルを定義する
* 作成日: 2024年3月15日
* 更新日: 2024年3月15日
*******************************************************************************/
/*--基本カラー-------------------------------------------*/
.base-color {
    background-color: #37474f
}
.main-color {
    background-color: #cacaca;
}
.accent-color {
    background-color: #ffd966;
}
.base-color-text {
    color: #37474f;
}
.main-color-text {
    color: #cacaca;
}
.accent-color-text {
    color: #ffd966;
}

/*--基本スタイル-------------------------------------------*/
/* 左寄せ */
.text-left {
    text-align: left;
}
/* 中央寄せ */
.text-center {
    text-align: center;
}
/* 右寄せ */
.text-right {
    text-align: right;
}
